body {
    font-family: poppins, sans-serif;
    background-size: 10px 10px;
    background-image:
    linear-gradient(to right, rgba(255, 255, 255, 0.373) , hsla(43, 89%, 58%, 0) .5px),
    linear-gradient(to bottom, rgba(255, 255, 255, 0.377) , hsla(43, 89%, 58%, 1) .5px);
    margin: -10px;
}
header,
div {
    /*border: solid;
    border-color: greenyellow;*/
    font-family: poppins, sans-serif;
}
/*header*/
#index_header {
    display: flex;
    justify-content: center;
    height: 33vh;
    background: hsla(0, 0%, 100%, 1);
    background: linear-gradient(45deg, hsla(0, 0%, 100%, 1) 49%, #f3bc33 50.3%);
    background: -moz-linear-gradient(45deg, hsla(0, 0%, 100%, 1) 49%, #f3bc33 50.3%);
    background: -webkit-linear-gradient(45deg, hsla(0, 0%, 100%, 1) 49%, hsla(43, 89%, 58%, 1) 50.3%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#FFFFFF", endColorstr="#F3BC33", GradientType=1 );
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
#logo {
    max-width: 450px;
    height: 33vh;
}
#nav {

    position: sticky;
    top: 0px;
    /*border: solid;
    border-color: blueviolet;*/
    display: flex;
    justify-content: center;
    background-color: black;
    color: #f3bc33;
    width: 100%;
}
#navlist {
    /*border: solid;
    border-color: rgb(64, 226, 255);*/
    display: flex;
    /*text-decoration: none;*/
    list-style-type: none;
    padding: 0;
}
.links { /*links already <a> tag so no need to .link a*/
    /*border: solid;
    border-color: blueviolet;*/
    font-size: 16px;
    font-weight: 600;
    padding: 1em;
    color:hsla(43, 89%, 58%, 1);
    text-decoration: none;
}
.links:hover {
    color: white;
    text-decoration: underline;
}/*main*/
main {
    background-size: 10px 10px;
    background-image:
    linear-gradient(to right, rgba(255, 255, 255, 0.373) , hsla(43, 89%, 58%, 0) .5px),
    linear-gradient(to bottom, rgba(255, 255, 255, 0.377) , hsla(43, 89%, 58%, 1) .5px);
}/*section1*/
.work-section {
    text-align: center;
    /*border: solid;
    border-color: red;*/
}
.welcome {
    text-align: center;
    /*border: solid;
    border-color: red;*/
    background-image: url(imgs/welcome.jpeg);
    background-position: top center;
    height: 100vh;
    background-size: cover;
    width: 90%;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
}
.transparent-screen {
    background-color: rgba(0,0,0,.5);
    color: #fff;
    width: 35%;
    height: 30%;
    border-radius: 10px;
    margin: auto;
    margin-top: 150px;
}
.welcome h1 {
    font-size: 32px;
    font-weight: 550;
    letter-spacing: 1px;
    color: white;
    
}
.welcome p {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1px;
    color: white;
    margin-bottom: 40px;
}
#quote-btn {
    display: inline;
    border-radius: 4px;
    padding: 10px;
    font-size: 20px;
    background: #f3bc33;
    width: auto;
    justify-content: space-between;
    font-size: 20px;
    color: black;
    text-decoration: none;
}
#quote-btn:hover {
    color: white;
}
/*section2*/
.services {
    background: white;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border: solid;
    border-color: black;
    border-radius: 5px;
    margin-bottom: 45px;
}
.titles {
    font-size: 32px;
    font-weight: 800;
    letter-spacing: 1px;
    background: #f3bc33;
    margin: auto;
    border-bottom: solid black;
}
.service-list {
    display: inline-flex;
    /*border: solid;
    border-color: red;*/
    background-color: white;
    width: 100%;
}
#item-services {
    display: flex;
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    padding: 0 50px 0 50px;
}
#column-1 {
    text-align: center;
    list-style-type: none;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
}
#column-2 {
    text-align: center;
    list-style-type: none;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
}
#gallery {
    position: relative;
    margin-bottom: 30px;
}
footer {
    background-color: black;
}
.footer-grid {
    display: inline-flex;
    padding: 100px 0 60px 0;
    width: 100%;
    justify-content: space-evenly;
}
.footer_links {
    margin-top: 0;
    margin-bottom: 30px;
    color: white;
    padding: 0;
}
.space1_of_4 {
    padding: 0 15px;
    display: flex;
    margin: 0;
}
#icon-list {
    list-style: none;
    padding: 0;
    margin: 0;
}
.phone, .email {
    padding: 14px 0;
}
#company img {
    display: flex;
    width: auto;
    height: 150px;
}
#copyright {
    font-size: small;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color:#f3bc33;
    padding: 10px;
}
@media (max-width: 900px) {
    div.transparent-screen {
        width: 80%;
    }
}
@media (max-width: 820px) {
    .welcome {
        height: 66vh;
    }
    .service-list {
        
    }
}